
.box { 
    position: relative;
    padding: 10px 40px;
    margin: 0 0;
    float: middle;
    border-radius: 10px;
    font-family: 'Helvetica', cursive;
    font-size: 22px;
    color: #FFF;
    text-decoration: none;  
    background-color: #3498DB;
    border-bottom: 5px solid #2980B9;
    text-shadow: 0px -2px #2980B9;
    /* Animation */
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
  cursor:pointer;
}
.box:hover.box:focus {
    text-decoration: none;
    color: #fff;
    cursor:pointer;
}
.box:active {
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}

.pagefooter {
background: #5572B0; border: solid 1px #375793; margin: 12px 0 0 0; padding: 1px; font-weight: bold;
}

.pagefooter a:link, .pagefooter a:visited {
color: #D0D0D0;
font-weight: bold;
}




td {
	text-align: middle;
	font-size: 11px;
}

body {

	height: 100%;
	padding: 0px;
	font-family: Arial, Helvetica, Sans Serif;
	font-size: 11px;
	color: #ffffff;
	background: #F3F3F5;
}




table.contentpaneopen {
	width: 100%;
	padding: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
	margin: 0px;
}

table.contentpaneopen td {
   padding-right: 0px;
}



.contentheading {
	height: 40px;
	color: #ffffff;

	font-weight: bold;
	font-size: 18px;
	
}



#upload-file-container {
   background: url(superanime.gif) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:400px;

  cursor: pointer;
  position: relative;
}

.topdiv {
  
	border: solid 1px #ccc;
	margin: 0 0;
	padding: 0px;

	height: 100%;
	  background-image:url('bg.png');
background-repeat:no-repeat;
background-size:cover;
background-position:center;
BACKGROUND-COLOR:#1F2A40;
}

#upload-file-container input {
   filter: alpha(opacity=0);
   opacity: 0;
   width: 100%;
   height:100%;
   position: relative;
  cursor: pointer;
}

